<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>383154350509-e6b6cs2hs50t2ah1cro11jgtr4msu73b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383154350509-e6b6cs2hs50t2ah1cro11jgtr4msu73b</string>
	<key>API_KEY</key>
	<string>AIzaSyBwutmJ3mHJXAvRv8agOaDS3K7ChMhuRDY</string>
	<key>GCM_SENDER_ID</key>
	<string>383154350509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HBD.chatTalk</string>
	<key>PROJECT_ID</key>
	<string>chattalk-4223c</string>
	<key>STORAGE_BUCKET</key>
	<string>chattalk-4223c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383154350509:ios:11e37fbf04fc9be4</string>
	<key>DATABASE_URL</key>
	<string>https://chattalk-4223c.firebaseio.com</string>
</dict>
</plist>